/* RESET ET DECLARATION DES  VARIABLES*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --turquoise: rgb(74, 203, 205);
    --blanc: #f1f1f1;
     --crim: crimson;
}

body{
    background-color:rgb(164, 238, 245);  
}

/* CONTENU PRINCIPALE - STYLE */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
}

/* CONTAINER */
.container{
    background-color: var(--blanc);
    width:30%;
    padding:15px;
    display: flex;
    flex-direction: column; 
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.3);
}

h1{
    text-align: center;
    font-size: 33px;
    margin-bottom:15px;
    font-weight: 500;
}

/* POUR LES BOUTON DU HAUT - CONNEXION ET INSCRIPTION*/
.btns{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* border:0.5px solid var(--turquoise); */
}

.btns input{
    padding:15px;
    border-style: none;
    cursor: pointer;
    width:150px;
    border: 0.5px solid var(--turquoise);
}
/* #connexion {

}

#inscription{

} */
/* */
.active{
    background-color: var(--turquoise);
    font-weight: bolder;
    color:var(--blanc);
}

/* POUR LE FORMULAIRE*/
form{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right:25px;
    /* margin-top: 15px;    */
}

/* STYLE POUR LE FORMULAIRE DE CONNEXION*/
#formConnexion{
    display: flex;
}

/* POUR MASQUER LE FORMULAIRE INSCRIPTION */
#formInscription{
    display: none;
}

/* POUR LES BOUTON DU FORMULAIRE*/
#emailConnexion,#mdpConnexion,#emailInscription,#mdpInscription,#confirmMdp{
    height:40px;
    border-style: none;
    border-bottom: solid 0.3px var(--turquoise);
    padding:15px;
}

/* POUR TOUS LES LIENS*/
a{
    text-decoration: none;
    color:red;
    margin-top :15px;
    margin-bottom: 10px;
}

/* STYLE POUR LE LIEN .nomMenbre*/
#nonMembre{
    margin-top: 10px;
    margin-bottom: 3px;
    display: block;
   
}
/* POUR LES BOUTON #btnConnexion et #btnInscription*/
#btnConnexion, #btnInscription{
    padding:8px;
    border: 1px solid var(--turquoise);
    background-color: var(--turquoise);
    color:var(--blanc);
    font-weight: bolder;
    font-size:15px;
}