/* RESET */
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

/* div pour le logo */
.logo{
    
    width:20vw;
    /* border:1px solid blue; */
    margin: auto;
}

/*Pour l'image*/
.logo-wikipedia{
    width:300px;
    height: 300px;
    
}

/* h1 */
h1{
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 40px;
}

/* POUR LE FORMULAIRE DE RECHERCHE */
.recherche{
    display: flex;
    flex-direction: column;
    align-items:center;
}

/* pour le input de recherche  */
.champ-recherche{
    margin-top: 30px;
    width:800px;
    padding:35px;
    border-style:none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* btn-recherche */
.btn-recherche{
    padding:15px;
    border: 1px solid #191970;
    color:white;
    background-color: #191970;
    width:150px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bolder;
    
}

/* Pour afficher les resultat */
.resultat{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.affichageResult{
    
    /* flex: 1 1 160px; */
    width:200px;
    margin-left:20px;
}