/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COULEUR DE FOND DE LA PAGE  */
body{
    background-color: #FAD98C;
}
/* STYLE POUR TOUS LE ECONTENUS  */
main{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    min-height:50vh;
}
/* STYLE POUR LA DIV CHRONO */
.chrono{
    /* margin-top: 30px; */
    width:50vw;
    /* height:10vh; */
    background-color: #333;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);

}
/* STYLE POUR LE TITRE DE LA PAGE ET L'AFFICHAGE DU CHRONO */
.titrePage, .temps{
    padding:15px;
    color:white;
    text-align: center;
    font-weight: bolder;
    font-size:40px;
}

/* STYLE POUR TOUS LES ELEMENTS BTN  */
.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:50vw;
    /* border:1px solid blue; */
    margin-top:40px;
}

/* STYLE POUR TOUS LES BOUTONS */
button{
    border:none;
    background-color: #B7A38B;
    font-size:50px;
    margin-right: 10px;
    cursor: pointer;
}

/* STYLE QUAND ON SURVOLE UN BOUTON */
button:hover, .active{
    background-color: #46427B;
}

/* STYLE POUR LES ICONS DU BOUTON  */
button ion-icon{
    padding:20px;
    color:white;
    
}