/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #BFD7E9;
}

/* Principal title */
h1{
    text-align: center;
    margin-top: 10rem;
    font-size: 50px;
}

/* SEARCH */
form{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    border:none;
}
#search{
    padding:15px;
    width:400px;
}

